extends layout.pug

append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/comment.css")
    //- add page specific js

block login
    +buttons()

block content
    .errors-container
        form(method="post" action=`/comment` class="comment-form")
            .form-group
                .input-group
                    label(for='content') COMMENTS
                    textarea.comments-textarea#comments.form-control(name="content", cols="30", rows="12", placeholder='')
                .submit-button
                    button.btn.btn-primary(type='submit') SUBMIT

    script(src="public/javascripts/post.js" type="module" defer)
