extends layout.pug

block content
    if !allFollowers
        h3 You have zero followers.
    else
        h3 Followers:
        each account in allFollowers
            div
                ul
                    li= account.userObj.username
                if account.mutual
                    li MUTUAL IS TRUE
                else
                    li MUTUAL IS FALSE


    script(src="/routes/personal.js")
