extends layout.pug

append head

    link(rel="stylesheet" href="/stylesheets/postprefilled.css")


block login
    +buttons()

block content
    .errors-container
        form(method="post" action=`/post/new` class="create-form")
            .form-group
                .input-group
                    label(for='image') PICTURE URL
                    input#pictureUrl.form-control(type='text', name="image",  value=`${image}` , placeholder='')
                .input-group
                    label(for='location') PLACE NAME
                    input#placeName.form-control(type='text', name="location", value=`${location}`, placeholder='')
                .input-group
                    label(for='content') STORIES
                    textarea.stories-textarea#stories.form-control(name="content", cols="30", rows="10", value=`${content}`, placeholder='') #{content}
                .categorydiv
                    label(for='category') CATEGORY
                    select#category.select.form-control.input-lg(name='category')
                        option(value='select') -- Select --
                        option(value='east') EAST
                        option(value='west') WEST
                        option(value='north') NORTH
                        option(value='south') SOUTH
                        option(value='middle') MIDDLE
                        option(value='others') OTHERS
                .submit-button
                    button.btn.btn-primary(type='submit') SUBMIT

    script(src="/javascripts/post.js" type="module" defer)
    //- script(src="/javascripts/postprefilled.js" type="module" defer)
