extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/signup.css")


block login
    +buttons()

block content
    h2.header-2 Sign Up
    +validationErrorSummary(errors)
    form.form-group(action='/users/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +formField('Username', 'username', 'text', 'Enter Username')
        +formField('First Name', 'firstName', 'text', 'Enter Your First Name')
        +formField('Last Name', 'lastName', 'text', 'Enter Your Last Name')
        +formField('Email', 'email', 'email', 'Enter Your Email')
        +formField('Password', 'password', 'password', 'Enter Your Password')
        +formField('Confirm Password', 'confirmPassword', 'password', 'Confirm Your Password')
        div.button-group
            div.button-group
                button.btn.btn-primary.submit-button(type='submit') Sign Up
            div.login-group
                a(href='/users/login') If you already have an account click here.
                a(href='/users/login') Guest Demo
    //- script(src='../routes/users.js')

