extends layout.pug
include utils.pug

block login
    +buttons()
(id, username, image, content, commentContent, storyId,  likes, liked)
block content
    if !allStories.length
        span no stories...
    else
        each post in allStories
            +storyDisplay(post.id, post.username, post.image, post.content, post.Comments, post.likes, post.liked)
    script(src="./javascripts/likes.js")