extends layout.pug
include utils.pug

block content
    if !allStories.length
        span no stories...
    else
        each post in allStories
            +storyDisplay(post.id, post.username, post.image, post.content, post.likes, post.liked)
    script(src="./javascripts/likes.js")
