extends layout.pug
include utils.pug

block login
    +buttons()

block content
    if !allStories.length
        span no stories...
    else
        each post in allStories
            +storyDisplay(post.User.username, post.image, post.content, post.Comments, post.id)
    script(src="/javascripts/comments.js" type="module" defer)
