extends layout.pug
include utils.pug

block login
    +buttons()
block content
    if !allStories
        span no stories...
    else
        each post in allStories
            +personalStoryDisplay(post.User.username, post.image, post.content, post.Comments, post.id, userId, post.User.id, post.likes, post.liked)
    script(src="/javascripts/personal.js" type="module" defer)
    script(src="/javascripts/commentsPersonal.js" type="module" defer)
    script(src="/javascripts/postprefilled.js" type="module" defer)
    script(src="../javascripts/likes.js")
