extends layout.pug
include utils.pug

block content
    if !allStories.length
        h3 No stories currently available!
    else
        each post in allStories
            +storyDisplay(post.username, post.image, post.content)
    script(src="/routes/stories.js")
