.followers-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1120px;
    width: 620px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
}

.followers-title {
    /* padding-left: 720px; */
    display: flex;
    align-self: center;
    font-size: 40px;
    font-weight: bold;
    font-family:Helvetica,Arial,sans-serif;
    color: #070606;
}

.individual-follower {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content:space-between;
}

.button-group{
    justify-content: center;
}

.btn{
    color:white;
}

.btn.block-button{
    background-color:#070606;
    border: none;
    margin: 10px;
    margin-top: 20px;
}

.btn.profile-button{
    background-color:#32A3D2;
    border: none;
    margin: 10px;
    margin-top: 20px;
}


.btn.unfollow-button{
    background-color:#f08080;
    border: none;
    margin: 10px;
    margin-top: 20px;

}
.btn.follow-button{
    background-color: #32A3D2;
    border: none;
    margin: 10px;
    margin-top: 20px;
}
