body {
    padding: 120px;
    background-color: #E8ECED;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:#030303;
}

a:link .navbar-brand {
    color:#030303;
}

a:visited .navbar-brand {
    color: #32A3D2;
  }

h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    z-index:-1000;
}

nav {
margin-bottom: 20px;
position: relative;
}
/* .tweets-container {
margin-top: 20px;
}
.card {
margin-bottom: 20px;
} */
input{
    height: 20px;
}

.navbar-brand {
    margin-right: 0;
    font-size: 16px;
}

.fas.fa-search{
    margin-left: 10px;
}
.loginSign{
    padding: 10px
}
.welcome-logout {
    display: flex;
    justify-content: flex-start;
    align-items: center
}
