.form-group{
    margin: 80px 300px;
}

label{
    font-size: 30px;
    font-weight: bold;
    font-family:Helvetica,Arial,sans-serif;
    color: #32A3D2;
}

.input-group{
    padding-bottom: 50px;
}

#pictureUrl.form-control, #placeName.form-control, #stories.form-control{
    margin-left: 60px;
    border-radius: 10px;
}


.stories-textarea#stories.form-control{
    margin-left: 120px;
}

.submit-button{
    display: flex;
    flex-direction: row-reverse;
}

.btn.btn-primary{
    background-color:#f08080;
    border: none;
}


